@using KhumaloCraft.Application.Portal.Models.ManageOrders
@using KhumaloCraft.Domain.Orders
@model OrderModel

@{
    ViewData["Title"] = "Manage Order";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Form.css" asp-append-version="true" />
}

<div class="container">
    <div class="tile-form-container">
        <div class="view-user-form tile-form">
            <h2><i class="fas fa-shopping-cart"></i> Manage Order - #@Model.Id</h2>

            <form method="post" asp-controller="ManageOrders" asp-action="UpdateOrder">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CartId" />

                <div class="form-group">
                    <label>Created Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-plus"></i></span>
                        <input type="text" value="@Model.CreatedDate" class="form-control" readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label>Updated Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>
                        <input type="text" value="@Model.UpdatedDate" class="form-control" readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label>Total Amount</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
                        <input type="text" value="@Model.TotalAmount.ToStringWithDecimals()" class="form-control" readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label>Vat Rate</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-percent"></i></span>
                        <input type="text" value="@Model.VatRate" class="form-control" readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label>Last Edited By</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>
                        <input type="email" value="@Model.LastEditedBy" class="form-control" readonly />
                    </div>
                </div>

                @if (Model.ViewOnly)
                {
                    <div class="form-group">
                        <label for="OrderStatus">Order Status</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-info-circle"></i></span>
                            <input type="text" value="@Model.OrderStatus.GetBestDescription()" class="form-control" readonly />
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="OrderStatus">Order Status</label>
                        <select asp-for="OrderStatus" class="form-control">
                            @foreach (var order in EnumHelper.GetValues<OrderStatus>()
                                                        .OrderBy(c => c.GetBestDescription()))
                            {
                                <option value="@order">@order.GetBestDescription()</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Update Order
                        </button>
                    </div>
                }

                <div class="form-group">
                    <a asp-controller="ManageOrders" asp-action="ViewOrders" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back To Orders
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>